#cnp-content-freshness-meta-box {
	.cnp-content-freshness-status {
		border-bottom: 1px solid rgba(0,0,0,0.1);
		padding-bottom: 1em;
		text-align: center;

		.stale { color: red; }

		i { opacity: 0.75; }
	}
}

#cnp-content-freshness-widget {

	table { 
		width: 100%; 
		border-spacing: 0;
	}

	th { text-align: left; }

	td 
	{
		line-height: 2;
		border-bottom: 1px solid rgba(0,0,0,0.15);
	}

	tr:last-child td {
		border-bottom: 0;
	}

	td:first-child, td:last-child {
		white-space: nowrap;
		width: 1%;		
	}

	td:first-child {
		padding-right: 6px;
		text-transform: uppercase;
		font-size: 0.85em;
		text-align: right;
		color: hsla(0, 0%, 10%, 0.5);
	}

	.empty {
		text-align: center;
		opacity: 0.75;
	}

}
