#cnp-content-freshness-meta-box .cnp-content-freshness-status {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1em;
  text-align: center; }
  #cnp-content-freshness-meta-box .cnp-content-freshness-status .stale {
    color: red; }
  #cnp-content-freshness-meta-box .cnp-content-freshness-status i {
    opacity: 0.75; }

#cnp-content-freshness-widget table {
  width: 100%;
  border-spacing: 0; }
#cnp-content-freshness-widget th {
  text-align: left; }
#cnp-content-freshness-widget td {
  line-height: 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
#cnp-content-freshness-widget tr:last-child td {
  border-bottom: 0; }
#cnp-content-freshness-widget td:first-child, #cnp-content-freshness-widget td:last-child {
  white-space: nowrap;
  width: 1%; }
#cnp-content-freshness-widget td:first-child {
  padding-right: 6px;
  text-transform: uppercase;
  font-size: 0.85em;
  text-align: right;
  color: rgba(26, 26, 26, 0.5); }
#cnp-content-freshness-widget .empty {
  text-align: center;
  opacity: 0.75; }
